<div class="fixed-bottom mt-auto" id="nowPlayingPane">
    <div class="w-100 h-100">
        
        <div id="progressBar" class="border-primary" style="width: 100%" data-percentagepersecond=""></div>
        <div id="nowPlayingInfo" class="d-flex flex-row justify-content-start align-items-start">
            <div class="text-start">
                <img class="img-fluid" id="nowPlayingImage" alt="Now playing artwork" />
            </div>
            <div class="text-start ps-4 pt-1">
                <h4 id="nowPlayingTrack"></h4>
                <p id="nowPlayingArtist" class="m-0 p-0"></p>
            </div>
        </div>
        
    </div>
</div>